@font-face {
    font-family: 'AlFars 5 Arabic';
    src: url('AlFars5Arabic.woff2') format('woff2'),
        url('AlFars5Arabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

